* {
    box-sizing: border-box;
  }

body {
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
  background-color: #f2f2f2;
}

#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar li {
  margin: 0;
  padding: 0;
}

#navbar a {
  margin: 0;
  padding: 0;
}

#navbar ul {
  list-style: none;
  text-align: center;
}

#navbar a {
  text-decoration: none;
}

#navbar {
  height: 70px;
  width: 100%;
  line-height: normal;
  text-align: center;
  background-color: rgb(35, 35, 35);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .4);
  vertical-align: middle;
}

#navbar > ul > li {
  display: inline;
  margin-left: 15px;
  position: relative;
}

#navbar > ul > li > a {
  color: rgb(160, 160, 160);
  font-family: Verdana, 'Lucida Grande';
  font-size: 14px;
  line-height: 70px;
  padding: 15px 24px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}
#navbar > ul > li > a:hover {
  color: rgb(250, 250, 250);
}
#navbar > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: rgb(250, 250, 250);
  text-align: left;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}
#navbar > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  visibility: visible;
}
#navbar > ul > li > ul:before {
  content:'';
  display: block;
  border-color: transparent transparent rgb(250, 250, 250) transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
#navbar > ul ul > li {
  position: relative;
}
#navbar ul ul a {
  color: rgb(50, 50, 50);
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  background-color: rgb(250, 250, 250);
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color .1s;
  -moz-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s;
}
#navbar ul ul a:hover {
  background-color: rgb(240, 240, 240);
}
#navbar ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: rgb(250, 250, 250);
  text-align: left;
  width: 160px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}
#navbar ul ul > li:hover > ul {
  opacity: 1;
  left: 196px;
  visibility: visible;
}
#navbar ul ul a:hover {
  background-color: rgb(114, 164, 65);
  color: rgb(240, 240, 240);
}
#wrapper #page #page-bgtop #page-bgbtm #content .post .entry table tr td {
  text-align: center;
}

section {
  min-height: 200px;
  padding: 1% 0;
}

.projects, .about{
    margin-top: -40px;
  }

.about h2{
  padding-top: 20px;
    }

.about p{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  font-size: 16px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;

}

.project-title{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  font-size: 24px;
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
font-family: 'Ubuntu Condensed', sans-serif;

}

.project-description{
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  font-size: 16px;
  max-width: 450px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Ubuntu Condensed', sans-serif;

}

.headline{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 36px;
  font-size: 24px;
  margin: auto;
  margin-bottom: 10px;
  font-family: 'Pacifico', cursive;

}

.hero-image{
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

h2 {
  font-family: 'Pacifico', cursive;
  margin-top: 55px;
}

.projects a{
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 16px;
}

.rmhSlides, .srSlides, .carSlides{
  display: none;
  margin-left: auto;
  margin-right: auto;
}

img {
  vertical-align: middle;
  width: 320px;
  z-index: -1;
  position: relative;
  height: 200px;
}

.slideshow-container{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: auto;
  height: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

@media only screen and (min-width: 320px) and (max-width: 700px){
  .next {
    right: 7px;
    border-radius: 3px 0 0 3px;
  }
  
  .prev{
    left: 7px;
    border-radius: 3px 0 0 3px;
  }
}


  @media only screen and (min-width: 700px){

    img {
      vertical-align: middle;
      width: 700px;
      z-index: -1;
      position: relative;
      height: 400px;
    }
    
    .slideshow-container{
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      width: 700px;
      height: 400px;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  
    .prev{
      left: 0;
      border-radius: 3px 0 0 3px;
    }
  }
